@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');

@font-face {
    font-family: 'gooddog_plainregular';
    src: url('../fonts/good_dog-webfont.woff2') format('woff2'),
         url('../fonts/good_dog-webfont.woff') format('woff');
    font-weight: 400;
    font-style: 400;
}

/* Typography */
body {
    background-color: #D0F0C0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 22px;
    color: #4b4b4b;
}

h1 {
    font-family: 'gooddog_plainregular';
    font-size: 78px;
}

h1.title {
    color: #5B8347;
    text-align: center
}


/* Layout */
.container {
    max-width: 900px;
    margin: 0 auto;
    user-select: none;
}

/* Components */
#dropzone {
    background-color: #fff;
    height: 350px;
    padding: 4%;
    border-radius: 33px;
    text-align: center;

    transition: all 0.5s ease;
    cursor: pointer;
}

#dropzone * {
    margin-bottom: 3em;
}

#dropzone:hover {
    box-shadow: 0 6px 10px #C0D0F0;
}